<!doctype html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>注册</title>
		<link rel="stylesheet" type="text/css" href="/static/home/plugin/layer/3.0/skin/default/layer.css">
		<link rel="stylesheet" type="text/css" href="/static/home/login/css/styles.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="container">
				<h1>Welcome Register</h1>
				<form class="form">
					<input type="text" id="username" placeholder="用户名">
					<input type="text" id="phone" placeholder="手机号">
					<button type="button" onclick = "register()">注册</button>
				</form>
			</div>	
		</div>
		<script type="text/javascript" src="/static/home/login/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/static/home/plugin/layer/3.0/layer.js"></script>
		<script type="text/javascript">
			function register(){
				var username = $("#username").val();
				var phone    = $("#phone").val();
				if(username == '' || username == null){
					layer.msg("您好,请输入用户名",{icon:2})
					return false;
				}
				if(phone == '' || phone == null){
					layer.msg("您好,请输入手机号",{icon:2})
					return false;
				}
				$.ajax({
                    url:"{{urlfor "HLoginController.Regform"}}",
                    type:'POST', 
                    data:{
                        "username":username,
                        "mobile":phone,
                        "type":"register"
                    },
                    dataType:'json',
                    success:function(data){
                        if(data.code==1){
                            layer.msg(data.msg,function(){
                                window.location.href="/";
                            },{icon:1});
                        }else{
                            layer.msg(data.msg,{icon:2});
                        }
                    },
                    error:function(){
                        layer.msg("出错了");
                    }
                })
			}
		</script>
	</body>
</html>