        <!-- 底部 -->
        <div class="layui-footer footer">
            <p>copyright @2019 相互学习，共同进步</p>
        </div>
    </div>
    <!-- 锁屏 -->
    <div class="admin-header-lock" id="lock-box" style="display: none;">
        <div class="admin-header-lock-img"><img src="/static/admin/images/face.jpg"/></div>
        <div class="admin-header-lock-name" id="lockUserName">Admin</div>
        <div class="input_btn">
            <input type="password" class="admin-header-lock-input layui-input" placeholder="请输入密码解锁.." name="lockPwd" id="lockPwd" />
            <button class="layui-btn" id="unlock">解锁</button>
        </div>
        <p>请输入“123456”，否则不会解锁成功哦！！！</p>
    </div>
    <!-- 移动导航 -->
    <div class="site-tree-mobile layui-hide"><i class="layui-icon">&#xe602;</i></div>
    <div class="site-mobile-shade"></div>

    <script type="text/javascript" src="/static/admin/layui/layui.js"></script>
    <script type="text/javascript" src="/static/admin/js/nav.js"></script>
    <script type="text/javascript" src="/static/admin/js/leftNav.js"></script>
    <script type="text/javascript" src="/static/admin/js/index.js"></script>
</body>
</html>