<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>博客后台</title>
        <!--Favicon -->
        <link rel="icon" href="/static/admin/img/favicon.ico" type="image/x-icon"/>
        <!--Bootstrap.min css-->
        <link rel="stylesheet" href="/static/admin/plugins/bootstrap/css/bootstrap.min.css">
        <!--Icons css-->
        <link rel="stylesheet" href="/static/admin/css/icons.css">
        <!--Style css-->
        <link rel="stylesheet" href="/static/admin/css/style.css">
        <!--mCustomScrollbar css-->
        <link rel="stylesheet" href="/static/admin/plugins/scroll-bar/jquery.mCustomScrollbar.css">
        <!--Sidemenu css-->
        <link rel="stylesheet" href="/static/admin/plugins/toggle-menu/sidemenu.css">
        <!--Chartist css-->
        <link rel="stylesheet" href="/static/admin/plugins/chartist/chartist.css">
        <link rel="stylesheet" href="/static/admin/plugins/chartist/chartist-plugin-tooltip.css">
        <!--Full calendar css-->
        <link rel="stylesheet" href="/static/admin/plugins/fullcalendar/stylesheet1.css">
        <!--morris css-->
        <link rel="stylesheet" href="/static/admin/plugins/morris/morris.css">
    </head>
    <body class="app ">
        <div id="spinner"></div>
        <div id="app">
            <div class="main-wrapper" >
                <nav class="navbar navbar-expand-lg main-navbar">
                    <a class="header-brand" href="index.html">
                        <img src="/static/admin/img/brand/logo.png" class="header-brand-img" alt="Kharna-Admin  logo">
                    </a>
                    <form class="form-inline mr-auto">
                        <ul class="navbar-nav mr-3">
                            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
                            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-md-none navsearch"><i class="ion ion-search"></i></a></li>
                        </ul>
                        <div class="search-element">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-primary" type="submit"><i class="ion ion-search"></i></button>
                        </div>
                    </form>
                    <ul class="navbar-nav navbar-right">
                        <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="ion-ios-email-outline"></i></a>
                            <div class="dropdown-menu dropdown-list dropdown-menu-right">
                                <div class="dropdown-header">Messages
                                    <div class="float-right">
                                        <a href="#">View All</a>
                                    </div>
                                </div>
                                <div class="dropdown-list-content">
                                    <a href="#" class="dropdown-item dropdown-item-unread">
                                        <img alt="image" src="/static/admin/img/avatar/avatar-1.jpeg.jpg" class="rounded-circle dropdown-item-img">
                                        <div class="dropdown-item-desc">
                                            <div class="dropdownmsg d-flex">
                                                <div class="">
                                                    <b>Stewart Ball</b>
                                                    <p>Your template awesome</p>
                                                </div>
                                                <div class="time">6 hours ago</div>
                                            </div>

                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item dropdown-item-unread">
                                        <img alt="image" src="/static/admin/img/avatar/avatar-2.jpeg.jpg" class="rounded-circle dropdown-item-img">
                                        <div class="dropdown-item-desc">
                                            <div class="dropdownmsg d-flex">
                                                <div class="">
                                                    <b>Jonathan North</b>
                                                    <p>Your Order Shipped.....</p>
                                                </div>
                                                <div class="time">45 mins ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <img alt="image" src="/static/admin/img/avatar/avatar-4.jpeg.jpg" class="rounded-circle dropdown-item-img">
                                        <div class="dropdown-item-desc">
                                            <div class="dropdownmsg d-flex">
                                                <div class="">
                                                    <b>Victor Taylor</b>
                                                    <p>Hi!, I' am web developer</p>
                                                </div>
                                                <div class="time"> 8 hours ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <img alt="image" src="/static/admin/img/avatar/avatar-3.jpeg.jpg" class="rounded-circle dropdown-item-img">
                                        <div class="dropdown-item-desc">
                                            <div class="dropdownmsg d-flex">
                                                <div class="">
                                                    <b>Ruth Arnold</b>
                                                    <p>Hi!, I' am web designer</p>
                                                </div>
                                                <div class="time"> 3 hours ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <img alt="image" src="/static/admin/img/avatar/avatar-5.jpeg.jpg" class="rounded-circle dropdown-item-img">
                                        <div class="dropdown-item-desc">
                                            <div class="dropdownmsg d-flex">
                                                <div class="">
                                                    <b>Sam  Lyman</b>
                                                    <p>Hi!, I' am java developer</p>
                                                </div>
                                                <div class="time"> 15 mintues ago</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link  nav-link-lg beep"><i class="ion-ios-bell-outline"></i></a>
                            <div class="dropdown-menu dropdown-list dropdown-menu-right">
                                <div class="dropdown-header">Notifications
                                    <div class="float-right">
                                        <a href="#">View All</a>
                                    </div>
                                </div>
                                <div class="dropdown-list-content">
                                    <a href="#" class="dropdown-item">
                                        <i class="fa fa-users text-primary"></i>
                                        <div class="dropdown-item-desc">
                                            <b>So many Users Visit your template</b>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <i class="fa fa-exclamation-triangle text-danger"></i>
                                        <div class="dropdown-item-desc">
                                            <b>Error message occurred....</b>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <i class="fa fa-users text-warning"></i>
                                        <div class="dropdown-item-desc">
                                            <b> Adding new people</b>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <i class="fa fa-shopping-cart text-success"></i>
                                        <div class="dropdown-item-desc">
                                            <b>Your items Arrived</b>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <i class="fa fa-comment text-primary"></i>
                                        <div class="dropdown-item-desc">
                                            <b>New Message received</b> <div class="float-right"><span class="badge badge-pill badge-danger badge-sm">67</span></div>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <i class="fa fa-users text-primary"></i>
                                        <div class="dropdown-item-desc">
                                            <b>So many Users Visit your template</b>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown dropdown-list-toggle">
                            <a href="#" class="nav-link nav-link-lg full-screen-link">
                                <i class="ion-arrow-expand"  id="fullscreen-button"></i>
                            </a>
                        </li>
                        <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
                            <img src="/static/admin/img/avatar/avatar-1.jpeg.jpg" alt="profile-user" class="rounded-circle w-32">
                            <div class="d-sm-none d-lg-inline-block">Jessica Lee</div></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="profile.html" class="dropdown-item has-icon">
                                    <i class="ion ion-android-person"></i> Profile
                                </a>
                                <a href="profile.html" class="dropdown-item has-icon">
                                    <i class="ion-android-drafts"></i> Messages
                                </a>
                                <a href="profile.html" class="dropdown-item has-icon">
                                    <i class="ion ion-gear-a"></i> Settings
                                </a>
                                <a href="#" class="dropdown-item has-icon">
                                    <i class="ion-ios-redo"></i> Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <aside class="app-sidebar">
                    <div class="app-sidebar__user">
                        <div class="dropdown">
                            <a class="nav-link pl-2 pr-2 leading-none d-flex" data-toggle="dropdown" href="#">
                                <img alt="image" src="/static/admin/img/avatar/avatar-1.jpeg.jpg" class=" avatar-md rounded-circle">
                                <span class="ml-2 d-lg-block">
                                    <span class="text-white app-sidebar__user-name mt-5">Jessica Lee</span><br>
                                    <span class="text-muted app-sidebar__user-name text-sm"> Web-Designer</span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <!-- 左侧标签 -->
                    {{template "admin/public/left.html"}}
                </aside>
                <div class="app-content">
                    <section class="section">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" class="text-muted">Home</a></li>
                            <li class="breadcrumb-item active text-" aria-current="page">Dashboard 01</li>
                        </ol>