    </section>
</div>
<!--Jquery.min js-->
<script src="/static/admin/js/jquery.min.js"></script>
<!--popper js-->
<script src="/static/admin/js/popper.js"></script>
<!--Tooltip js-->
<script src="/static/admin/js/tooltip.js"></script>
<!--Bootstrap.min js-->
<script src="/static/admin/plugins/bootstrap/js/bootstrap.min.js"></script>
<!--Jquery.nicescroll.min js-->
<script src="/static/admin/plugins/nicescroll/jquery.nicescroll.min.js"></script>
<!--Scroll-up-bar.min js-->
<script src="/static/admin/plugins/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
<!--Sidemenu js-->
<script src="/static/admin/plugins/toggle-menu/sidemenu.js"></script>
<!--mCustomScrollbar js-->
<script src="/static/admin/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- ECharts -->
<script src="/static/admin/plugins/echarts/dist/echarts.js"></script>
<!--Min Calendar -->
<script src="/static/admin/plugins/fullcalendar/calendar.min.js"></script>
<script src="/static/admin/plugins/fullcalendar/custom_calendar.js"></script>
<!--Morris js-->
<script src="/static/admin/plugins/morris/morris.min.js"></script>
<script src="/static/admin/plugins/morris/raphael.min.js"></script>    
<!--Scripts js-->
<script src="/static/admin/js/scripts.js"></script>
<script src="/static/admin/js/apexcharts.js"></script>