<ul class="side-menu">
    <li class="slide">
        <a class="side-menu__item"  data-toggle="slide" href="#"><i class="side-menu__icon fa fa-desktop"></i><span class="side-menu__label">后台管理</span><i class="angle fa fa-angle-right"></i></a>
        <ul class="slide-menu">
            <li><a class="slide-item"  href="{{urlfor "AindexController.Index"}}"><span>首页</span></a></li>
        </ul>
    </li>
    <li class="slide">
        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-tasks"></i><span class="side-menu__label">内容管理</span><i class="angle fa fa-angle-right"></i></a>
        <ul class="slide-menu">
            <li><a href="elements.html" class="slide-item"> 文章管理</a></li>
            <li><a href="buttons.html" class="slide-item"> 标签管理</a></li>
            <li><a href="toastr.html" class="slide-item"> 广告管理</a></li>
            <li><a href="calender.html" class="slide-item"> 友链管理</a></li>
        </ul>
    </li>
    <li class="slide">
        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-paw"></i><span class="side-menu__label">用户管理</span><i class="angle fa fa-angle-right"></i></a>
        <ul class="slide-menu">
            <li><a href="{{urlfor "AuserController.Hlist"}}" class="slide-item"> 用户列表</a></li>
            <li><a href="icons-fontawesome.html" class="slide-item"> 管理员列表</a></li>
            <li><a href="icons-feather.html" class="slide-item"> 登录日志</a></li>
        </ul>
    </li>
    <li class="slide">
        <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-table"></i><span class="side-menu__label">基本设置</span><i class="angle fa fa-angle-right"></i></a>
        <ul class="slide-menu">
            <li><a href="table.html" class="slide-item">平台设置</a></li>
            <li><a href="datatables.html" class="slide-item"> 其他设置</a></li>
        </ul>
    </li>
</ul>