<!--滚动图-->
<div class="slider_main">
    <div class="slider">
        <div class="bd">
            <ul>
                <li><a href="#" target="_blank"><img src="/static/home/img/temp/banner1.jpg"></a></li>
                <li><a href="#" target="_blank"><img src="/static/home/img/temp/banner8.png"></a></li>
            </ul>
        </div>
        <ol class="hd cl dots">
            <li>1</li>
            <li>2</li>
        </ol>
        <a class="slider-arrow prev" href="javascript:void(0)"></a>
        <a class="slider-arrow next" href="javascript:void(0)"></a>
    </div>
</div>