		<footer class="footer mt-20">
		    <div class="container-fluid" id="foot">
		        <p>Copyright &copy; 2016-2017 www.wfyvv.com <br>
		            <a href="#" target="_blank">皖ICP备17002922号</a>  更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a><br>
		        </p>
		    </div>
		</footer>
		<script type="text/javascript" src="plugin/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="plugin/layer/3.0/layer.js"></script>
		<script type="text/javascript" src="plugin/h-ui/js/H-ui.min.js"></script>
		<script type="text/javascript" src="plugin/pifu/pifu.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); }); </script>
		<script type="text/javascript" src="plugin/jquery.SuperSlide/2.1.1/jquery.SuperSlide.min.js"></script>
		<script>
			$(function(){
				//幻灯片
				jQuery(".slider_main .slider").slide({mainCell: ".bd ul", titCell: ".hd li", trigger: "mouseover", effect: "leftLoop", autoPlay: true, delayTime: 700, interTime: 2000, pnLoop: true, titOnClassName: "active"})
				//tips
				jQuery(".slideTxtBox").slide({titCell: ".hd ul", mainCell: ".bd ul", autoPage: true, effect: "top", autoPlay: true});
				//标签
				$(".tags a").each(function(){
					var x = 9;
					var y = 0;
					var rand = parseInt(Math.random() * (x - y + 1) + y);
					$(this).addClass("tags"+rand)
				});

				$("img.lazyload").lazyload({failurelimit : 3});
			});
		</script> 
	</body>
</html>